{% extends "base.html" %}

{% block header %}
    <div class="row">

        <h1>Новости науки</h1>
    </div>
{% endblock %}

{% load static %}
{% block section %}

    <div class="section_main">

        <div class="row">

            <section class="eight columns">

                <article class="blog_post">

                    <div class="three columns">
                        <a href="#" class="th"><img src="{% static 'images/a1.jpg' %}" alt="desc"/></a>
                    </div>
                    <div class="nine columns">
                        <a href="#"><h4>Название 1</h4></a>
                        <p> Первое предложение новости 1.</p>

                    </div>

                </article>

                <article class="blog_post">

                    <div class="three columns">
                        <a href="#" class="th"><img src="{% static 'images/thumb2.jpg' %}" alt="desc"/></a>
                    </div>
                    <div class="nine columns">
                        <a href="#"><h4>Название 2</h4></a>
                        <p> Первое предложение новости 2.</p>

                    </div>

                </article>

                <article class="blog_post">

                    <div class="three columns">
                        <a href="#" class="th"><img src="{% static 'images/thumb2.jpg' %}" alt="desc"/></a>
                    </div>
                    <div class="nine columns">
                        <a href="#"><h4>Название 3</h4></a>
                        <p> Первое предложение новости 3.</p>

                    </div>

                </article>

            </section>


        </div>

    </div>
{% endblock %}
